body {
    background-color: white;
}

#heading {
    color: black;
    font-size: 30px;
    text-align: center;
}

#subscribeButton {
    display: block;
    margin: 0 auto;
    background-color: yellow;
    padding: 10px 20px;
    font-size: 16px;
}
